
<ion-view view-title="Camera" class="po-main">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="GoMain()">&lsaquo; Back</button>
    </div>
    <h1 class="title">收货商品信息查询</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="list">
          <div class="item item-input-inset">
            <label> PO#:</label>
            <label class="item-input-wrapper">
              <input type="text" placeholder="PO#" ng-model="keys.PONumber" disabled="disabled" />
            </label>
          </div>
        </div>
      </ion-item>
      <ion-item>
        Vendor:ABC Food Ltd.
      </ion-item>
      <ion-item>
        <div class="list">
          <div class="item item-input-inset">
            <label> UPC/G:</label>
            <label class="item-input-wrapper">
              <input type="text" placeholder="UPC" ng-model="keys.UPCNumber" />
            </label>
            <button class="button button-positive" ng-click="GoInventory()">
              GO
            </button>
          </div>
        </div>
      </ion-item>
      <ion-item>
        NON-UPC Item List
      </ion-item>
      <ion-item class="item-thumbnail-left">

        <img src="img/ionic.png">

        <h2>樱花面膜</h2>
        <p>樱花面膜详细描述</p>

        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          分享
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="edit(item)">
          编辑
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="reorderItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="img/ionic.png">
        <h2>口红一号</h2>
        <p>口红一号描述信息</p>

        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          分享
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="edit(item)">
          编辑
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="reorderItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
      <ion-item>
        <div class="title">Item Reveived:30/52</div>
      </ion-item>

    </ion-list>

  </ion-content>
  <ion-footer-bar align-title="left" class="">
    <div class="buttons">
      <button class="button button-assertive">Complete</button>
    </div><h1 class="title"></h1>
    <div class="buttons" >
      <button class="button" ng-click="ViewPOReceive()">View PO</button>
    </div>
  </ion-footer-bar>

</ion-view>


