<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Home</button>
  </div>
  <h1 class="title">用户注册</h1>
</ion-header-bar>
<ion-view view-title="Camera" class="po-main">
  <ion-content>
    <ion-list>

      <ion-item>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span><input type="text" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Suhr">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="john@suhr.com">
          </label>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>


