<ion-view class="po-start">
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">PO# Application</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>

      </ion-item>
    </ion-list>


    <div class="row">
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-loop"></span>
        </div>
        <div class="description">从PO#收货</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-help-buoy"></span>
        </div>
        <div class="description">从UPC收货</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-gear-b"></span>
        </div>
        <div class="description">从UPC收货</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-flash-off"></span>
        </div>
        <div class="description">从UPC收货</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-coffee"></span>
        </div>
        <div class="description">从UPC收货</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-chatbox-working"></span>
        </div>
        <div class="description">沟通</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-chatbubbles"></span>
        </div>
        <div class="description">联系人</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-filing"></span>
        </div>
        <div class="description">货柜查看</div>
      </div>
      <div class="col">
        <div class="ico" ng-click="GoMain();">
          <span class="ion-gear-a"></span>
        </div>
        <div class="description">设置</div>
      </div>
    </div>
  </ion-content>
</ion-view>


