/* Empty. Add your own CSS if you like */

.item-input-inset .item-input-wrapper input {
  padding-left: 4px;
  height: 30px;
  background: #fff;
  border: solid 1px #d9caca;
  line-height: 30px;
  width: 100%;
  border-radius: 4px;
}


.item-input-wrapper {
  background: #fff;
}

.button {
  font-size: 16px;
  line-height: 30px;
  min-height: 30px;
}

.list-item-data {
  float: left;
}

.list-item-img {
  width: 80px;
  height: 80px;
}

.view-po-receive .row .col-33 {
  line-height: 34px;
  height: 34px;
}



.po-start .row {
  margin-top: 20px;
}
.po-start .row:first-child {
  margin-top: 0;
}
.po-start .row > .po-start-header{

  height:150px;
  width:100%;
  border:1px solid #cbced4;
}
  .po-start .row .col {
    /*line-height:100px;*/
    /*border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;*/
    text-align: center;
  }

    .po-start .row .col .ico {
      font-size: 80px;
      color: #fff;
      background-color: #6684e4;
      width: 80px;
      height: 80px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      margin:auto ;
    }
    .po-start .row .col .ico span {

    }

    /*.po-start .row .col .ico span{
     display:block;
  }*/

    .po-start .row .col .description {
      padding-top: 2px;
      font-size: 16px;
      font-family: Calibri;
      color: #808080;
    }

    .po-start .row .col:last-child {
      /*border-right: 1px solid #ddd;*/
    }

  .po-start .row:last-child .col {
    /*border-bottom: 1px solid #ddd;*/
  }
